<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/DBA.css">
    <link rel="stylesheet" type="text/css" href="/css/Update.css">
    <title>DBA Page</title>
    </head>
    <body>
     <script>
         function addchange(that)
        {
          const EntityAndAttributes = {
              "Authorisation" : ['Username','Password','Occupation'],
              "Team" : ['Team_Name','Wins','Losses','Draws'],
              "Player" : ['Player_ID','FirstName','MiddleName','LastName','DOB','Position','Team_Name','Clubpts'],
              "Player_MobileNo" : ['Player_ID','MobileNo'],
              "Player_EmailID" : ['Player_ID','EmailID'],
              "Coach" : ['Coach_ID','FirstName','MiddleName','LastName','DOB','Position','Team_Name','Clubpts'],
              "Coach_MobileNo" : ['Coach_ID','MobileNo'],
              "Coach_EmailID" : ['Coach_ID','EmailID'],
              "Employee" : ['Employee_ID','FirstName','MiddleName','LastName','DOB','Occupation','Clubpts'],
              "Employee_MobileNo" : ['Employee_ID','MobileNo'],
              "Employee_EmailID" : ['Employee_ID','EmailID'],
              "Match" : ['Match_ID','Date_of_Match','Winner','Ground','Season_No','Employee_ID'],
              "Match_Management" : ['Match_ID','Team','Score'],
              "Ground" : ['GroundName','Country','State','City','No_of_Seats'],
              "Medical_Aid" : ['Medical_ID','Name','Purpose','Available_Quantity'],
              "Medical_Aid_Distribution" : ['Medicine_ID','GroundName'],
              "Sports_Equipments" : ['Equipment_ID','Name','Ordered_Quantity','Available_Quantity'],
              "Sports_Equipments_Distribution" : ['Equipment_ID','GroundName']
          };
          let tableName=that.value;
          let a = EntityAndAttributes[tableName];
          let atable = document.getElementById('U');
          let aselectBox = document.createElement('select');
          aselectBox.name = tableName+"_Attributes_set";
          aselectBox.innerHTML="<option disabled selected hidden>Choose the attribute</option>"
          for(const i of a)
          {
              let option = document.createElement('option');
              option.value = i;
              option.text= i;
              aselectBox.appendChild(option);
          }
          let val = document.createElement('input');
          val.type = 'text';
          val.name="Values";
          let row = atable.insertRow(-1);
          row.id="tohover";
          let newcell1 = row.insertCell(0);
          let newcell2 = row.insertCell(1);
          newcell1.appendChild(aselectBox);
          newcell2.appendChild(val);
        }
          function addcondition(that)
        {
          const operators =['>','<','>=','<=','=','<>','IN','NOT IN','LIKE','NOT LIKE'];
          const logic = ['AND','OR'];
          const EntityAndAttributes = {
              "Authorisation" : ['Username','Password','Occupation'],
              "Team" : ['Team_Name','Wins','Losses','Draws'],
              "Player" : ['Player_ID','FirstName','MiddleName','LastName','DOB','Position','Team_Name','Clubpts'],
              "Player_MobileNo" : ['Player_ID','MobileNo'],
              "Player_EmailID" : ['Player_ID','EmailID'],
              "Coach" : ['Coach_ID','FirstName','MiddleName','LastName','DOB','Position','Team_Name','Clubpts'],
              "Coach_MobileNo" : ['Coach_ID','MobileNo'],
              "Coach_EmailID" : ['Coach_ID','EmailID'],
              "Employee" : ['Employee_ID','FirstName','MiddleName','LastName','DOB','Occupation','Clubpts'],
              "Employee_MobileNo" : ['Employee_ID','MobileNo'],
              "Employee_EmailID" : ['Employee_ID','EmailID'],
              "Match" : ['Match_ID','Date_of_Match','Winner','Ground','Season_No','Employee_ID'],
              "Match_Management" : ['Match_ID','Team','Score'],
              "Ground" : ['GroundName','Country','State','City','No_of_Seats'],
              "Medical_Aid" : ['Medical_ID','Name','Purpose','Available_Quantity'],
              "Medical_Aid_Distribution" : ['Medicine_ID','GroundName'],
              "Sports_Equipments" : ['Equipment_ID','Name','Ordered_Quantity','Available_Quantity'],
              "Sports_Equipments_Distribution" : ['Equipment_ID','GroundName']
          };
          let tableName=that.value;
          let a = EntityAndAttributes[tableName];
          let atable = document.getElementById('C');
          let aselectBox = document.createElement('select');
          aselectBox.name = tableName+"_Attributes_where";
          aselectBox.innerHTML="<option disabled selected hidden>Choose the attribute</option>"
          let oselectBox = document.createElement('select');
          oselectBox.name = "conditions";
          oselectBox.innerHTML="<option disabled selected hidden>Choose the operator</option>"
          let lselect = document.createElement('select');
          lselect.name="logical";
          lselect.innerHTML="<option disabled selected hidden>Choose the logical operator</option>";
          for(const i of a)
          {
              let option = document.createElement('option');
              option.value = i;
              option.text= i;
              aselectBox.appendChild(option);
          }
          for(const i of operators)
          {
              let option = document.createElement('option');
              option.value = i;
              option.text= i;
              oselectBox.appendChild(option);
          }
          for(const i of logic)
          {
              let option = document.createElement('option');
              option.value = i;
              option.text= i;
              lselect.appendChild(option);
          }
          let val = document.createElement('input');
          val.type = 'text';
          val.name="Values";
          val.placeholder='Enter a value';
          let row = atable.insertRow(-1);
          let newcell1 = row.insertCell(0);
          let newcell2 = row.insertCell(1);
          let newcell3 = row.insertCell(2);
          let newcell4 = row.insertCell(3);
          newcell1.appendChild(aselectBox);
          newcell2.appendChild(oselectBox);
          newcell3.appendChild(val);
          newcell4.appendChild(lselect);
        }
        function refresh()
        {
            let atable = document.getElementById('U');
            let anothertable = document.getElementById('C');
            atable.innerHTML="<caption>Give the values(s) to updated</caption>";
            anothertable.innerHTML="<caption>Give the condition(s) for updation</caption>";
        }
    </script>
     </script>
     <header>
         <h4>Football Club</h4>
        <nav>
            <ul>
                <li>
                    <a id="one" href="/DBA">Home</a>
                </li>
                <li>
                    <a id="two" href="/DBA/insert">Insertion</a>
                </li>
                <li>
                    <a id="three" href="/DBA/delete">Deletion</a>
                </li>
                <li>
                    <a id="four" href="/DBA/update">Updation</a>
                
                </li>


            </ul>
        </nav>
    </header>
    <form action="/DBA/update" name="form" method="POST">
        <select id="Table_choice" name="todo" onchange="refresh();addchange(this);addcondition(this);" required>
            <option value="" disabled selected hidden>Choose the table</option>
            <option>Authorisation</option>
            <option>Ground</option>
            <option>Player</option>
            <option>Player_MobileNo</option>
            <option>Player_EmailID</option>
            <option>Team</option>
            <option>Seasons</option>
            <option>Match</option>
            <option>Match_Management</option>
            <option>Coach</option>
            <option>Coach_MobileNo</option>
            <option>Coach_EmailID</option>
            <option>Employee</option>
            <option>Employee_MobileNo</option>
            <option>Employee_EmailID</option>
            <option>Sports_Equipments</option>
            <option>Sports_Equipments_Distribution</option>
            <option>Medical_Aid</option>
            <option>Medical_Aid_Distribution</option>
            <option>Sponsor</option>
            <option>Sponsor_Match</option>
            <option>Sponsor_Team</option>
        </select>

        <table id="U">
        </table>
        
        <table id="C">
        </table>
        <!--<div id="Authorisation" style="display: none;">
            <select name="Authorisation_Attributes">
                <option disabled selected hidden>Choose the attribute for the condition</option>
                <option>Username</option>
                <option>Password</option>
                <option>Occupation</option>
            </select>
            <select name="conditions">
                <option disabled selected hidden>Choose the relational operator</option>
                <option>></option>
                <option><</option>
                <option>>=</option>
                <option><=</option>
                <option>=</option>
                <option><></option>
                <option>IN</option>
                <option>NOT IN</option>
                <option>LIKE</option>
                <option>NOT LIKE</option>
            </select>
            <input type="text" name="Values" placeholder="Enter the value to be checked">
            <button type="button" onclick="addcondition('Authorisation');">+</button>
          </div>-->
        <div class="buttons">
          <button class="add" type="button" onclick="addchange(document.getElementById('Table_choice'))">Set more values</button>
          <button class="add" type="button" onclick="addcondition(document.getElementById('Table_choice'))">Add condition</button>
          <button type="submit" >Proceed</button>
        </div>
    </form>
    </body>
</html>